<!-- <app-user></app-user> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Drink and Delight</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Products Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rm-orders">RM Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/raw-materials">Raw Materials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/support">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/distributor">Distributor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signout">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  
<router-outlet></router-outlet>
